<div class="container p-4">
    <div class="row">
        <h5>Bantuan Dibutuhkan</h5>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Tanggal Permintaan</th>
                    <th scope="col">Judul Bantuan</th>
                    <th scope="col">Jumlah Bantuan (Rp)</th>
                    <th scope="col">Jumlah Terpenuhi</th>
                    <th scope="col">Berikan Bantuan</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each links}}
                    <td>{{ name }}</td>
                    <td>{{ tanggal }}</td>
                    <td>{{ judul }}</td>
                    <td>Rp. {{ jumlah_bantuan }}</td>
                    <td>Rp. {{ nilai_bantuan }}</td>
                    <td><a  href="/links/edit/{{id}}">
                            Berikan Bantuan
                        </a></td>
                    {{else}}
                    <td colspan="6">Tidak ada data</td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
    </div>
</div>